@model KutuphaneSistem.Models.Entity.TBLKATEGORİ
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Kategori Ekle</title>
</head>
<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="AD" maxlength="20"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Ekle</button>
    </div>
</form>