
@{
    ViewBag.Title = "PasifKategori";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Pasif Kategoriler</h2>
<table class="table table-striped">
    <tr style="background-color:#f8b02e">
        <th>SIRA</th>
        <th>KATEGORİ</th>
        <th>DURUM</th>
    </tr>
    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.AD</td>
            <td><a href="/Kategori/AktifKategori/@ktg.ID" class="btn btn-success">AKTİF ET</a></td>
        </tr>
    }
</table>

