<div class="col-md-3">

    <a href="/Mesaj/YeniMesaj/" class="btn btn-primary btn-block mb-3">Yeni Mesaj</a>

    <div class="card">

        <div class="card-header">

            <h3 class="card-title">Seçenekler</h3>

            <div class="card-tools">

                <button type="button" class="btn btn-tool" data-card-widget="collapse">

                    <i class="fas fa-minus"></i>

                </button>

            </div>

        </div>

        <div class="card-body p-0">

            <ul class="nav nav-pills flex-column">

                <li class="nav-item active">

                    <a href="/Mesaj/Index/" class="nav-link">

                        <i class="fas fa-inbox" style="margin-right:4px"></i> Gelen Kutusu

                        <span class="badge bg-primary float-right"> @ViewBag.d1 </span>

                    </a>

                </li>

                <li class="nav-item">

                    <a href="/Mesaj/GonderilenMesaj/" class="nav-link">

                        <i class="far fa-envelope" style="margin-right:4px"></i> Giden Kutusu
                        <span class="badge bg-gradient-danger float-right"> @ViewBag.d2 </span>
                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-file-alt" style="margin-right:5px"></i> Taslaklar

                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-trash-alt" style="margin-right:4px"></i> Çöp Kutusu

                    </a>

                </li>

            </ul>

        </div>

        <!-- /.card-body -->

    </div>

    <!-- /.card -->

    <!--<div class="card">

        <div class="card-header">

            <h3 class="card-title">Labels</h3>

            <div class="card-tools">

                <button type="button" class="btn btn-tool" data-card-widget="collapse">

                    <i class="fas fa-minus"></i>

                </button>

            </div>

        </div>

        <div class="card-body p-0">

            <ul class="nav nav-pills flex-column">

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-danger"></i>

                        Important

                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-warning"></i> Promotions

                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-primary"></i>

                        Social

                    </a>

                </li>

            </ul>

        </div>-->

        <!-- /.card-body -->

    <!--</div>-->

    <!-- /.card -->

</div>
