@using KutuphaneSistem.Models.Entity
@model List<TBLADMIN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>Admin Ayarlar</title>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">

<table class="table table-bordered" style="margin-top:50px">
    <tr>
        <th>SIRA</th>
        <th>KULLANICI</th>
        <th>YETKİ</th>
        <th>DÜZENLE</th>
        <th>SİL</th>

    </tr>
    @foreach (var admin in Model)
    {
        <tr>
            <td>@admin.ID</td>
            <td>@admin.KULLANICI</td>
            <td>@admin.YETKI</td>
            <td>
                <a class="btn btn-info btn-sm" href="/Ayar/AdminGuncelle/@admin.ID">
                    <i class="fas fa-pencil-alt"></i>
                    Düzenle
                </a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="/Ayar/AdminSil/@admin.ID">
                    <i class="fas fa-trash"></i>
                    Sil
                </a>
            </td>
        </tr>
    }
</table>
<br />
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Admin Ekle</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Admin Ekleme Paneli</h3>
            </div>
            <form method="post" action="/Ayar/AdminEkle/">
                <div class="body">
                    <label>Kullanıcı Adı</label>
                    <input type="text" name="KULLANICI" class="form-control" placeholder="kutuphane.com" /><br />
                    <label>Şifre</label>
                    <input type="text" name="SIFRE" class="form-control" /><br />
                    <label>Yetki</label>
                    <input type="text" name="YETKI" class="form-control" /><br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

